.App {
  text-align: center;
}

h3 {
  color: black;
  font-size: 2rem;
  text-shadow: 2px 2px 8px #22222f;
  filter: blur(.2px);
}

.todolist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}